/* Variables */

:root {
	--basic-light-blue: #32425C;
	--basic-dark-blue: #293449;
	--basic-orange: #FFBF47;
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--basic-light-grey: #F2F6F8;
	--blue: #3BBCE3;
	--orange: #FFBF47;
	--purple: #DC91D8;
	--green: #8ED78F;
}

/* ОБЩИЕ СТИЛИ */

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
body {

	margin: 0 auto;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;

}


.link {
	text-decoration: none;

}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
header {
	font-family: Cuprum, Arial, sans-serif;


}
header a {
	color: white;
}
.wrapper {
	background-color: var(--basic-dark-blue);
	width: 940px;
	margin: auto;
	padding: auto;

	
}
.topbar {
	width: 940px;
	heigth: 60px;
	display: flex;
	gap: 73px;
	justify-content: center;
	align-items: center;
	font-size: 18px;
 }
  .topbar ul {
	display: flex;
	gap: 73px;
}
.checkout-wrapper {
	
	background-color: #63A63E;
	width: 150px;
	height: 42px;
	justify-content: center;
}
.checkout {
	align-self: center;
}

  
.logo {
	width: 220px;
	height: 47px;
	padding: 0;
	margin: 0;
}

.main-navigation a {
	color: white;
}
.main-navigation {
	display: flex;
	font-size: 18px;
	width: 940;
	height: 60px;
}

.middlebar {
	background-color: var(--basic-light-grey);
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header-button {
	background-color: white;
	color: black;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	width: 121px;
	height: 45px;
	display: flex;

}
.checkout {
	background-color: var(--basic-green);
	margin: 0px;
}
.main-title {
	color: var(--basic-red);
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	margin-top: 37px;
	margin-bottom: 44px;
	margin-left: 30px;
	margin-right: 0px;

}
.tel-header {
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: var(--basic-red);
	border: 2px solid white;
}
.address {
	font-style: normal;
	font-size: 14px;
}
.main-navigation {
	background-color: var(--basic-light-blue);
	justify-content: space-between;
	align-items: center;
	padding-right: 53px;
	padding-left: 53px;
	margin-bottom: 60px;
}

.block-header {
	font-size: 24px;


	
}
.orange {
	background-color: var(--orange);

}
.blue {
	background-color: var(--blue);
}
.purple {
	background-color: var(--purple);
}
.black {
	background-color: black;
	font-size: 36px;
}
.green {
	background-color: var(--green);
}
.offers {
	color: white;
	display: flex;

}
.drells {
	visibility: hidden;
}

.section-header {
	color: var(--basic-light-blue);
	background-color: var(--basic-light-grey);
	font-size: 30px;
	font-family: Cuprum;
	font-style: normal;
	
}
.popular-manufacturers {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}
.popular-goods a {
	color: black;
}
.popular-goods-carts {
	display: flex;
	flex-direction: row;
}
.basic-button {
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #161d29;
	text-transform: uppercase;
}
.button:hover {
	background-color: #ca2c37;
  }
.old-price {
	color: #A9A9A9;
	font-weight: bold;
	font-size: 17px;
}
 .services {
 	background-color: var(--basic-light-grey);
 }
 .services-button {
 	background-color: var(--basic-light-blue);
 	color: white;
 }
 .services-button-active {
 	background-color: white;
 	color: var(--basic-light-blue);
 }
 .top-footer {
 	background-color: var(--basic-light-blue); 
 }
 .bottom-footer {
 	background-color: var(--basic-dark-blue);
 }
 .text-services {
 	font-family: PT Sans, Arial, sans-serif;;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
 }
 .title-section-services {
	font-family: PT Sans, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
 }
 .title-services {
	
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: var(--basic-light-blue);	
 }
 .price {
 	color: white;
 	background-color: var(--basic-red);
 }
 .link-name {
	 text-decoration: none;
	 font-family: PT Sans, Arial, sans-serif;
	 font-size: 18px;
	 font-weight: 700;
 }